:root {
	--primary: rgba(37, 37, 37, 0.9);
	--secondary: rgb(241, 241, 241);
	--tertiary: rgb(211, 227, 235);
	--cta: rgb(24, 162, 217);
	--cta-lite: rgb(24, 162, 217, 0.4);
	--callout-rgb: 238, 240, 241;
	--callout-border-rgb: 172, 175, 176;
	--card-rgb: 180, 185, 188;
	--card-border-rgb: 131, 134, 135;
	--border-color: rgba(194, 194, 194, 0.394);
	--theme-color: #f9fafb;
	--inactive-color: rgb(113 119 144 / 78%);
	--body-font: "Poppins", sans-serif;
	--hover-menu-bg: rgba(12 15 25 / 30%);
	--content-title-color: #999ba5;
	--content-bg: rgba(203, 205, 213, 0.2);
	--button-inactive: rgb(249 250 251 / 55%);
	--dropdown-bg: #21242d;
	--dropdown-hover: rgb(42 46 60);
	--popup-bg: rgb(22 25 37);
	--search-bg: #14162b;
	--overlay-bg: rgba(36, 39, 59, 0.3);
	--scrollbar-bg: rgb(1 2 3 / 40%);
}

body {
	background: var(--primary);
}
