.pageWrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(var(--theme-bg-color), var(--theme-bg-color)),
		url("../../public/images/we_have_coffee.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
	align-items: center;
}

.row {
	display: flex;
	position: relative;
	width: 100%;
	// max-width: 1100px;
	flex: 1 0 0;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}
